<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lz.config.mapper.FileLogInfoMapper">

    <resultMap type="FileLogInfo" id="FileLogInfoResult">
        <result property="logId" column="log_id"/>
        <result property="userId" column="user_id"/>
        <result property="targetId" column="target_id"/>
        <result property="targetContent" column="target_content"/>
        <result property="dnsUrl" column="dns_url"/>
        <result property="fileUrl" column="file_url"/>
        <result property="fileType" column="file_type"/>
        <result property="logStatus" column="log_status"/>
        <result property="ossType" column="oss_type"/>
        <result property="logType" column="log_type"/>
        <result property="isCompress" column="is_compress"/>
        <result property="createTime" column="create_time"/>
        <result property="deleteTime" column="delete_time"/>
        <result property="ipAddr" column="ip_addr"/>
        <result property="deviceId" column="device_id"/>
        <result property="browser" column="browser"/>
        <result property="os" column="os"/>
        <result property="platform" column="platform"/>
        <result property="ipAddress" column="ip_address"/>
    </resultMap>

    <sql id="selectFileLogInfoVo">
        select log_id,
               user_id,
               target_id,
               target_content,
               dns_url,
               file_url,
               file_type,
               log_status,
               oss_type,
               log_type,
               is_compress,
               create_time,
               delete_time,
               ip_addr,
               device_id,
               browser,
               os,
               platform,
               ip_address
        from c_file_log_info
    </sql>

    <select id="selectFileLogInfoList" parameterType="FileLogInfo" resultMap="FileLogInfoResult">
        <include refid="selectFileLogInfoVo"/>
        <where>
            <if test="logId != null  and logId != ''">and log_id = #{logId}</if>
            <if test="userId != null  and userId != ''">and user_id = #{userId}</if>
            <if test="targetId != null  and targetId != ''">and target_id = #{targetId}</if>
            <if test="targetContent != null  and targetContent != ''">and target_content like concat('%',
                #{targetContent}, '%')
            </if>
            <if test="dnsUrl != null  and dnsUrl != ''">and dns_url like concat('%', #{dnsUrl}, '%')</if>
            <if test="fileType != null  and fileType != ''">and file_type = #{fileType}</if>
            <if test="logStatus != null  and logStatus != ''">and log_status = #{logStatus}</if>
            <if test="ossType != null  and ossType != ''">and oss_type = #{ossType}</if>
            <if test="logType != null  and logType != ''">and log_type = #{logType}</if>
            <if test="isCompress != null  and isCompress != ''">and is_compress = #{isCompress}</if>
            <if test="params.beginCreateTime != null and params.beginCreateTime != '' and params.endCreateTime != null and params.endCreateTime != ''">
                and DATE_FORMAT(create_time, '%Y-%m-%d') between #{params.beginCreateTime} and #{params.endCreateTime}
            </if>
            <if test="params.beginDeleteTime != null and params.beginDeleteTime != '' and params.endDeleteTime != null and params.endDeleteTime != ''">
                and DATE_FORMAT(delete_time, '%Y-%m-%d') between #{params.beginDeleteTime} and #{params.endDeleteTime}
            </if>
            <if test="ipAddr != null  and ipAddr != ''">and ip_addr like concat('%', #{ipAddr}, '%')</if>
            <if test="deviceId != null  and deviceId != ''">and device_id = #{deviceId}</if>
            <if test="browser != null  and browser != ''">and browser = #{browser}</if>
            <if test="os != null  and os != ''">and os = #{os}</if>
            <if test="platform != null  and platform != ''">and platform = #{platform}</if>
            <if test="ipAddress != null  and ipAddress != ''">and ip_address like concat('%', #{ipAddress}, '%')</if>
        </where>
        <choose>
            <when test="params.sortSql != null and params.sortSql != ''">
                ${params.sortSql}
            </when>
            <otherwise>
                order by create_time desc
            </otherwise>
        </choose>
    </select>

    <select id="selectFileLogInfoByLogId" parameterType="String" resultMap="FileLogInfoResult">
        <include refid="selectFileLogInfoVo"/>
        where log_id = #{logId}
    </select>

    <insert id="insertFileLogInfo" parameterType="FileLogInfo">
        insert into c_file_log_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="logId != null">log_id,</if>
            <if test="userId != null and userId != ''">user_id,</if>
            <if test="targetId != null and targetId != ''">target_id,</if>
            <if test="targetContent != null">target_content,</if>
            <if test="dnsUrl != null and dnsUrl != ''">dns_url,</if>
            <if test="fileUrl != null and fileUrl != ''">file_url,</if>
            <if test="fileType != null and fileType != ''">file_type,</if>
            <if test="logStatus != null and logStatus != ''">log_status,</if>
            <if test="ossType != null and ossType != ''">oss_type,</if>
            <if test="logType != null and logType != ''">log_type,</if>
            <if test="isCompress != null and isCompress != ''">is_compress,</if>
            <if test="createTime != null">create_time,</if>
            <if test="deleteTime != null">delete_time,</if>
            <if test="ipAddr != null and ipAddr != ''">ip_addr,</if>
            <if test="deviceId != null">device_id,</if>
            <if test="browser != null">browser,</if>
            <if test="os != null">os,</if>
            <if test="platform != null">platform,</if>
            <if test="ipAddress != null">ip_address,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="logId != null">#{logId},</if>
            <if test="userId != null and userId != ''">#{userId},</if>
            <if test="targetId != null and targetId != ''">#{targetId},</if>
            <if test="targetContent != null">#{targetContent},</if>
            <if test="dnsUrl != null and dnsUrl != ''">#{dnsUrl},</if>
            <if test="fileUrl != null and fileUrl != ''">#{fileUrl},</if>
            <if test="fileType != null and fileType != ''">#{fileType},</if>
            <if test="logStatus != null and logStatus != ''">#{logStatus},</if>
            <if test="ossType != null and ossType != ''">#{ossType},</if>
            <if test="logType != null and logType != ''">#{logType},</if>
            <if test="isCompress != null and isCompress != ''">#{isCompress},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="deleteTime != null">#{deleteTime},</if>
            <if test="ipAddr != null and ipAddr != ''">#{ipAddr},</if>
            <if test="deviceId != null">#{deviceId},</if>
            <if test="browser != null">#{browser},</if>
            <if test="os != null">#{os},</if>
            <if test="platform != null">#{platform},</if>
            <if test="ipAddress != null">#{ipAddress},</if>
        </trim>
    </insert>

    <update id="updateFileLogInfo" parameterType="FileLogInfo">
        update c_file_log_info
        <trim prefix="SET" suffixOverrides=",">
            <if test="userId != null and userId != ''">user_id = #{userId},</if>
            <if test="targetId != null and targetId != ''">target_id = #{targetId},</if>
            <if test="targetContent != null">target_content = #{targetContent},</if>
            <if test="dnsUrl != null and dnsUrl != ''">dns_url = #{dnsUrl},</if>
            <if test="fileUrl != null and fileUrl != ''">file_url = #{fileUrl},</if>
            <if test="fileType != null and fileType != ''">file_type = #{fileType},</if>
            <if test="logStatus != null and logStatus != ''">log_status = #{logStatus},</if>
            <if test="ossType != null and ossType != ''">oss_type = #{ossType},</if>
            <if test="logType != null and logType != ''">log_type = #{logType},</if>
            <if test="isCompress != null and isCompress != ''">is_compress = #{isCompress},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="deleteTime != null">delete_time = #{deleteTime},</if>
            <if test="ipAddr != null and ipAddr != ''">ip_addr = #{ipAddr},</if>
            <if test="deviceId != null">device_id = #{deviceId},</if>
            <if test="browser != null">browser = #{browser},</if>
            <if test="os != null">os = #{os},</if>
            <if test="platform != null">platform = #{platform},</if>
            <if test="ipAddress != null">ip_address = #{ipAddress},</if>
        </trim>
        where log_id = #{logId}
    </update>

    <delete id="deleteFileLogInfoByLogId" parameterType="String">
        delete
        from c_file_log_info
        where log_id = #{logId}
    </delete>

    <delete id="deleteFileLogInfoByLogIds" parameterType="String">
        delete from c_file_log_info where log_id in
        <foreach item="logId" collection="array" open="(" separator="," close=")">
            #{logId}
        </foreach>
    </delete>
</mapper>
