<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lz.ai.mapper.ModelParamsInfoMapper">

    <resultMap type="ModelParamsInfo" id="ModelParamsInfoResult">
        <result property="modelId" column="model_id"/>
        <result property="modelKey" column="model_key"/>
        <result property="modelName" column="model_name"/>
        <result property="modelType" column="model_type"/>
        <result property="model" column="model"/>
        <result property="modelLabel" column="model_label"/>
        <result property="apiUrl" column="api_url"/>
        <result property="apiKey" column="api_key"/>
        <result property="secretKey" column="secret_key"/>
        <result property="priceUse" column="price_use"/>
        <result property="modelParams" column="model_params"/>
        <result property="modelDescription" column="model_description"/>
        <result property="usageCount" column="usage_count"/>
        <result property="pointsEarned" column="points_earned"/>
        <result property="ponintsNeed" column="ponints_need"/>
        <result property="extendConfig" column="extend_config"/>
        <result property="paramsStatus" column="params_status"/>
        <result property="orderNum" column="order_num"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="remark" column="remark"/>
    </resultMap>

    <sql id="selectModelParamsInfoVo">
        select model_id,
               model_key,
               model_name,
               model_type,
               model,
               model_label,
               api_url,
               api_key,
               secret_key,
               price_use,
               model_params,
               model_description,
               usage_count,
               points_earned,
               ponints_need,
               extend_config,
               params_status,
               order_num,
               create_by,
               create_time,
               update_by,
               update_time,
               remark
        from ai_model_params_info
    </sql>

    <select id="selectModelParamsInfoList" parameterType="ModelParamsInfo" resultMap="ModelParamsInfoResult">
        <include refid="selectModelParamsInfoVo"/>
        <where>
            <if test="modelId != null  and modelId != ''">and model_id = #{modelId}</if>
            <if test="modelKey != null  and modelKey != ''">and model_key like concat('%', #{modelKey}, '%')</if>
            <if test="modelName != null  and modelName != ''">and model_name like concat('%', #{modelName}, '%')</if>
            <if test="modelType != null  and modelType != ''">and model_type = #{modelType}</if>
            <if test="model != null  and model != ''">and model like concat('%', #{model}, '%')</if>
            <if test="modelLabel != null  and modelLabel != ''">and model_label like concat('%', #{modelLabel}, '%')
            </if>
            <if test="paramsStatus != null  and paramsStatus != ''">and params_status = #{paramsStatus}</if>
            <if test="createBy != null  and createBy != ''">and create_by like concat('%', #{createBy}, '%')</if>
            <if test="params.beginCreateTime != null and params.beginCreateTime != '' and params.endCreateTime != null and params.endCreateTime != ''">
                and DATE_FORMAT(create_time, '%Y-%m-%d') between #{params.beginCreateTime} and #{params.endCreateTime}
            </if>
            <if test="updateBy != null  and updateBy != ''">and update_by like concat('%', #{updateBy}, '%')</if>
            <if test="params.beginUpdateTime != null and params.beginUpdateTime != '' and params.endUpdateTime != null and params.endUpdateTime != ''">
                and DATE_FORMAT(update_time, '%Y-%m-%d') between #{params.beginUpdateTime} and #{params.endUpdateTime}
            </if>
        </where>
    </select>

    <select id="selectModelParamsInfoByModelId" parameterType="String" resultMap="ModelParamsInfoResult">
        <include refid="selectModelParamsInfoVo"/>
        where model_id = #{modelId}
    </select>

    <insert id="insertModelParamsInfo" parameterType="ModelParamsInfo">
        insert into ai_model_params_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="modelId != null">model_id,</if>
            <if test="modelKey != null and modelKey != ''">model_key,</if>
            <if test="modelName != null and modelName != ''">model_name,</if>
            <if test="modelType != null and modelType != ''">model_type,</if>
            <if test="model != null and model != ''">model,</if>
            <if test="modelLabel != null and modelLabel != ''">model_label,</if>
            <if test="apiUrl != null and apiUrl != ''">api_url,</if>
            <if test="apiKey != null">api_key,</if>
            <if test="secretKey != null">secret_key,</if>
            <if test="priceUse != null">price_use,</if>
            <if test="modelParams != null and modelParams != ''">model_params,</if>
            <if test="modelDescription != null">model_description,</if>
            <if test="usageCount != null">usage_count,</if>
            <if test="pointsEarned != null">points_earned,</if>
            <if test="ponintsNeed != null">ponints_need,</if>
            <if test="extendConfig != null">extend_config,</if>
            <if test="paramsStatus != null and paramsStatus != ''">params_status,</if>
            <if test="orderNum != null">order_num,</if>
            <if test="createBy != null and createBy != ''">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="modelId != null">#{modelId},</if>
            <if test="modelKey != null and modelKey != ''">#{modelKey},</if>
            <if test="modelName != null and modelName != ''">#{modelName},</if>
            <if test="modelType != null and modelType != ''">#{modelType},</if>
            <if test="model != null and model != ''">#{model},</if>
            <if test="modelLabel != null and modelLabel != ''">#{modelLabel},</if>
            <if test="apiUrl != null and apiUrl != ''">#{apiUrl},</if>
            <if test="apiKey != null">#{apiKey},</if>
            <if test="secretKey != null">#{secretKey},</if>
            <if test="priceUse != null">#{priceUse},</if>
            <if test="modelParams != null and modelParams != ''">#{modelParams},</if>
            <if test="modelDescription != null">#{modelDescription},</if>
            <if test="usageCount != null">#{usageCount},</if>
            <if test="pointsEarned != null">#{pointsEarned},</if>
            <if test="ponintsNeed != null">#{ponintsNeed},</if>
            <if test="extendConfig != null">#{extendConfig},</if>
            <if test="paramsStatus != null and paramsStatus != ''">#{paramsStatus},</if>
            <if test="orderNum != null">#{orderNum},</if>
            <if test="createBy != null and createBy != ''">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
        </trim>
    </insert>

    <update id="updateModelParamsInfo" parameterType="ModelParamsInfo">
        update ai_model_params_info
        <trim prefix="SET" suffixOverrides=",">
            <if test="modelKey != null and modelKey != ''">model_key = #{modelKey},</if>
            <if test="modelName != null and modelName != ''">model_name = #{modelName},</if>
            <if test="modelType != null and modelType != ''">model_type = #{modelType},</if>
            <if test="model != null and model != ''">model = #{model},</if>
            <if test="modelLabel != null and modelLabel != ''">model_label = #{modelLabel},</if>
            <if test="apiUrl != null and apiUrl != ''">api_url = #{apiUrl},</if>
            <if test="apiKey != null">api_key = #{apiKey},</if>
            <if test="secretKey != null">secret_key = #{secretKey},</if>
            <if test="priceUse != null">price_use = #{priceUse},</if>
            <if test="modelParams != null and modelParams != ''">model_params = #{modelParams},</if>
            <if test="modelDescription != null">model_description = #{modelDescription},</if>
            <if test="usageCount != null">usage_count = #{usageCount},</if>
            <if test="pointsEarned != null">points_earned = #{pointsEarned},</if>
            <if test="ponintsNeed != null">ponints_need = #{ponintsNeed},</if>
            <if test="extendConfig != null">extend_config = #{extendConfig},</if>
            <if test="paramsStatus != null and paramsStatus != ''">params_status = #{paramsStatus},</if>
            <if test="orderNum != null">order_num = #{orderNum},</if>
            <if test="createBy != null and createBy != ''">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where model_id = #{modelId}
    </update>

    <delete id="deleteModelParamsInfoByModelId" parameterType="String">
        delete
        from ai_model_params_info
        where model_id = #{modelId}
    </delete>

    <delete id="deleteModelParamsInfoByModelIds" parameterType="String">
        delete from ai_model_params_info where model_id in
        <foreach item="modelId" collection="array" open="(" separator="," close=")">
            #{modelId}
        </foreach>
    </delete>
</mapper>
