<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lz.picture.mapper.PictureShareInfoMapper">
    
    <resultMap type="PictureShareInfo" id="PictureShareInfoResult">
        <result property="shareId"    column="share_id"    />
        <result property="userId"    column="user_id"    />
        <result property="pictureId"    column="picture_id"    />
        <result property="categoryId"    column="category_id"    />
        <result property="tags"    column="tags"    />
        <result property="targetCover"    column="target_cover"    />
        <result property="createTime"    column="create_time"    />
    </resultMap>

    <sql id="selectPictureShareInfoVo">
        select share_id, user_id, picture_id, category_id, tags, target_cover, create_time from p_picture_share_info
    </sql>

    <select id="selectPictureShareInfoList" parameterType="PictureShareInfo" resultMap="PictureShareInfoResult">
        <include refid="selectPictureShareInfoVo"/>
        <where>  
            <if test="shareId != null  and shareId != ''"> and share_id = #{shareId}</if>
            <if test="userId != null  and userId != ''"> and user_id = #{userId}</if>
            <if test="pictureId != null  and pictureId != ''"> and picture_id = #{pictureId}</if>
            <if test="categoryId != null  and categoryId != ''"> and category_id = #{categoryId}</if>
            <if test="tags != null  and tags != ''"> and tags like concat('%', #{tags}, '%')</if>
            <if test="params.beginCreateTime != null and params.beginCreateTime != '' and params.endCreateTime != null and params.endCreateTime != ''"> and DATE_FORMAT(create_time, '%Y-%m-%d') between #{params.beginCreateTime} and #{params.endCreateTime}</if>
        </where>
    </select>
    
    <select id="selectPictureShareInfoByShareId" parameterType="String" resultMap="PictureShareInfoResult">
        <include refid="selectPictureShareInfoVo"/>
        where share_id = #{shareId}
    </select>

    <insert id="insertPictureShareInfo" parameterType="PictureShareInfo">
        insert into p_picture_share_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="shareId != null">share_id,</if>
            <if test="userId != null and userId != ''">user_id,</if>
            <if test="pictureId != null and pictureId != ''">picture_id,</if>
            <if test="categoryId != null and categoryId != ''">category_id,</if>
            <if test="tags != null">tags,</if>
            <if test="targetCover != null">target_cover,</if>
            <if test="createTime != null">create_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="shareId != null">#{shareId},</if>
            <if test="userId != null and userId != ''">#{userId},</if>
            <if test="pictureId != null and pictureId != ''">#{pictureId},</if>
            <if test="categoryId != null and categoryId != ''">#{categoryId},</if>
            <if test="tags != null">#{tags},</if>
            <if test="targetCover != null">#{targetCover},</if>
            <if test="createTime != null">#{createTime},</if>
         </trim>
    </insert>

    <update id="updatePictureShareInfo" parameterType="PictureShareInfo">
        update p_picture_share_info
        <trim prefix="SET" suffixOverrides=",">
            <if test="userId != null and userId != ''">user_id = #{userId},</if>
            <if test="pictureId != null and pictureId != ''">picture_id = #{pictureId},</if>
            <if test="categoryId != null and categoryId != ''">category_id = #{categoryId},</if>
            <if test="tags != null">tags = #{tags},</if>
            <if test="targetCover != null">target_cover = #{targetCover},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
        </trim>
        where share_id = #{shareId}
    </update>

    <delete id="deletePictureShareInfoByShareId" parameterType="String">
        delete from p_picture_share_info where share_id = #{shareId}
    </delete>

    <delete id="deletePictureShareInfoByShareIds" parameterType="String">
        delete from p_picture_share_info where share_id in 
        <foreach item="shareId" collection="array" open="(" separator="," close=")">
            #{shareId}
        </foreach>
    </delete>
</mapper>