<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lz.picture.mapper.PictureTagRelInfoMapper">

    <resultMap type="PictureTagRelInfo" id="PictureTagRelInfoResult">
        <result property="relId" column="rel_id"/>
        <result property="pictureId" column="picture_id"/>
        <result property="pictureName" column="picture_name"/>
        <result property="tagId" column="tag_id"/>
        <result property="tagName" column="tag_name"/>
        <result property="lookCount" column="look_count"/>
        <result property="collectCount" column="collect_count"/>
        <result property="likeCount" column="like_count"/>
        <result property="shareCount" column="share_count"/>
        <result property="downloadCount" column="download_count"/>
    </resultMap>

    <sql id="selectPictureTagRelInfoVo">
        select rel_id,
               picture_id,
               picture_name,
               tag_id,
               tag_name,
               look_count,
               collect_count,
               like_count,
               share_count,
               download_count
        from p_picture_tag_rel_info
    </sql>

    <select id="selectPictureTagRelInfoList" parameterType="PictureTagRelInfo" resultMap="PictureTagRelInfoResult">
        <include refid="selectPictureTagRelInfoVo"/>
        <where>
            <if test="relId != null ">and rel_id = #{relId}</if>
            <if test="pictureId != null  and pictureId != ''">and picture_id = #{pictureId}</if>
            <if test="pictureName != null  and pictureName != ''">and picture_name like concat('%', #{pictureName},
                '%')
            </if>
            <if test="tagId != null  and tagId != ''">and tag_id = #{tagId}</if>
            <if test="tagName != null  and tagName != ''">and tag_name like concat('%', #{tagName}, '%')</if>
        </where>
    </select>

    <select id="selectPictureTagRelInfoByPictureId" parameterType="String" resultMap="PictureTagRelInfoResult">
        <include refid="selectPictureTagRelInfoVo"/>
        where picture_id = #{pictureId}
    </select>

    <insert id="insertPictureTagRelInfo" parameterType="PictureTagRelInfo">
        insert into p_picture_tag_rel_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="relId != null">rel_id,</if>
            <if test="pictureId != null">picture_id,</if>
            <if test="pictureName != null and pictureName != ''">picture_name,</if>
            <if test="tagId != null">tag_id,</if>
            <if test="tagName != null and tagName != ''">tag_name,</if>
            <if test="lookCount != null">look_count,</if>
            <if test="collectCount != null">collect_count,</if>
            <if test="likeCount != null">like_count,</if>
            <if test="shareCount != null">share_count,</if>
            <if test="downloadCount != null">download_count,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="relId != null">#{relId},</if>
            <if test="pictureId != null">#{pictureId},</if>
            <if test="pictureName != null and pictureName != ''">#{pictureName},</if>
            <if test="tagId != null">#{tagId},</if>
            <if test="tagName != null and tagName != ''">#{tagName},</if>
            <if test="lookCount != null">#{lookCount},</if>
            <if test="collectCount != null">#{collectCount},</if>
            <if test="likeCount != null">#{likeCount},</if>
            <if test="shareCount != null">#{shareCount},</if>
            <if test="downloadCount != null">#{downloadCount},</if>
        </trim>
    </insert>

    <update id="updatePictureTagRelInfo" parameterType="PictureTagRelInfo">
        update p_picture_tag_rel_info
        <trim prefix="SET" suffixOverrides=",">
            <if test="relId != null">rel_id = #{relId},</if>
            <if test="pictureName != null and pictureName != ''">picture_name = #{pictureName},</if>
            <if test="tagId != null">tag_id = #{tagId},</if>
            <if test="tagName != null and tagName != ''">tag_name = #{tagName},</if>
            <if test="lookCount != null">look_count = #{lookCount},</if>
            <if test="collectCount != null">collect_count = #{collectCount},</if>
            <if test="likeCount != null">like_count = #{likeCount},</if>
            <if test="shareCount != null">share_count = #{shareCount},</if>
            <if test="downloadCount != null">download_count = #{downloadCount},</if>
        </trim>
        where picture_id = #{pictureId}
    </update>

    <delete id="deletePictureTagRelInfoByPictureId" parameterType="String">
        delete
        from p_picture_tag_rel_info
        where picture_id = #{pictureId}
    </delete>

    <delete id="deletePictureTagRelInfoByPictureIds" parameterType="String">
        delete from p_picture_tag_rel_info where picture_id in
        <foreach item="pictureId" collection="array" open="(" separator="," close=")">
            #{pictureId}
        </foreach>
    </delete>
</mapper>
