<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lz.picture.mapper.PictureInfoMapper">

    <resultMap type="PictureInfo" id="PictureInfoResult">
        <result property="pictureId" column="picture_id"/>
        <result property="pictureUrl" column="picture_url"/>
        <result property="dnsUrl" column="dns_url"/>
        <result property="name" column="name"/>
        <result property="introduction" column="introduction"/>
        <result property="categoryId" column="category_id"/>
        <result property="picSize" column="pic_size"/>
        <result property="picWidth" column="pic_width"/>
        <result property="picHeight" column="pic_height"/>
        <result property="picScale" column="pic_scale"/>
        <result property="picFormat" column="pic_format"/>
        <result property="pointsNeed" column="points_need"/>
        <result property="userId" column="user_id"/>
        <result property="createTime" column="create_time"/>
        <result property="editTime" column="edit_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="pictureStatus" column="picture_status"/>
        <result property="reviewStatus" column="review_status"/>
        <result property="reviewMessage" column="review_message"/>
        <result property="reviewUserId" column="review_user_id"/>
        <result property="reviewTime" column="review_time"/>
        <result property="thumbnailUrl" column="thumbnail_url"/>
        <result property="spaceId" column="space_id"/>
        <result property="folderId" column="folder_id"/>
        <result property="moreInfo" column="more_info"/>
        <result property="isDelete" column="is_delete"/>
        <result property="deletedTime" column="deleted_time"/>
    </resultMap>

    <sql id="selectPictureInfoVo">
        select picture_id,
               picture_url,
               dns_url,
               name,
               introduction,
               category_id,
               pic_size,
               pic_width,
               pic_height,
               pic_scale,
               pic_format,
               points_need,
               user_id,
               create_time,
               edit_time,
               update_time,
               picture_status,
               review_status,
               review_message,
               review_user_id,
               review_time,
               thumbnail_url,
               space_id,
               folder_id,
               more_info,
               is_delete,
               deleted_time
        from p_picture_info
    </sql>

    <select id="selectPictureInfoList" parameterType="PictureInfo" resultMap="PictureInfoResult">
        <include refid="selectPictureInfoVo"/>
        <where>
            <if test="pictureId != null  and pictureId != ''">and picture_id = #{pictureId}</if>
            <if test="dnsUrl != null  and dnsUrl != ''">and dns_url like concat('%', #{dnsUrl}, '%')</if>
            <if test="name != null  and name != ''">and name like concat('%', #{name}, '%')</if>
            <if test="categoryId != null  and categoryId != ''">and category_id = #{categoryId}</if>
            <if test="picWidth != null ">and pic_width = #{picWidth}</if>
            <if test="picHeight != null ">and pic_height = #{picHeight}</if>
            <if test="picScale != null ">and pic_scale = #{picScale}</if>
            <if test="picFormat != null  and picFormat != ''">and pic_format = #{picFormat}</if>
            <if test="pointsNeed != null ">and points_need = #{pointsNeed}</if>
            <if test="userId != null  and userId != ''">and user_id = #{userId}</if>
            <if test="createTime != null ">and create_time = #{createTime}</if>
            <if test="pictureStatus != null  and pictureStatus != ''">and picture_status = #{pictureStatus}</if>
            <if test="reviewStatus != null ">and review_status = #{reviewStatus}</if>
            <if test="reviewMessage != null  and reviewMessage != ''">and review_message = #{reviewMessage}</if>
            <if test="reviewUserId != null ">and review_user_id = #{reviewUserId}</if>
            <if test="params.beginReviewTime != null and params.beginReviewTime != '' and params.endReviewTime != null and params.endReviewTime != ''">
                and DATE_FORMAT(review_time, '%Y-%m-%d') between #{params.beginReviewTime} and #{params.endReviewTime}
            </if>
            <if test="spaceId != null  and spaceId != ''">and space_id = #{spaceId}</if>
            <if test="folderId != null  and folderId != ''">and folder_id = #{folderId}</if>
            <if test="isDelete != null  and isDelete != ''">and is_delete = #{isDelete}</if>
            <if test="params.beginDeletedTime != null and params.beginDeletedTime != '' and params.endDeletedTime != null and params.endDeletedTime != ''">
                and DATE_FORMAT(deleted_time, '%Y-%m-%d') between #{params.beginDeletedTime} and
                #{params.endDeletedTime}
            </if>
        </where>
        order by create_time desc
    </select>

    <select id="selectPictureInfoByPictureId" parameterType="String" resultMap="PictureInfoResult">
        <include refid="selectPictureInfoVo"/>
        where picture_id = #{pictureId}
    </select>

    <insert id="insertPictureInfo" parameterType="PictureInfo">
        insert into p_picture_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="pictureId != null">picture_id,</if>
            <if test="pictureUrl != null and pictureUrl != ''">picture_url,</if>
            <if test="dnsUrl != null and dnsUrl != ''">dns_url,</if>
            <if test="name != null and name != ''">name,</if>
            <if test="introduction != null">introduction,</if>
            <if test="categoryId != null and categoryId != ''">category_id,</if>
            <if test="picSize != null">pic_size,</if>
            <if test="picWidth != null">pic_width,</if>
            <if test="picHeight != null">pic_height,</if>
            <if test="picScale != null">pic_scale,</if>
            <if test="picFormat != null">pic_format,</if>
            <if test="pointsNeed != null">points_need,</if>
            <if test="userId != null and userId != ''">user_id,</if>
            <if test="createTime != null">create_time,</if>
            <if test="editTime != null">edit_time,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="pictureStatus != null and pictureStatus != ''">picture_status,</if>
            <if test="reviewStatus != null">review_status,</if>
            <if test="reviewMessage != null">review_message,</if>
            <if test="reviewUserId != null">review_user_id,</if>
            <if test="reviewTime != null">review_time,</if>
            <if test="thumbnailUrl != null">thumbnail_url,</if>
            <if test="spaceId != null">space_id,</if>
            <if test="folderId != null">folder_id,</if>
            <if test="moreInfo != null">more_info,</if>
            <if test="isDelete != null and isDelete != ''">is_delete,</if>
            <if test="deletedTime != null">deleted_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="pictureId != null">#{pictureId},</if>
            <if test="pictureUrl != null and pictureUrl != ''">#{pictureUrl},</if>
            <if test="dnsUrl != null and dnsUrl != ''">#{dnsUrl},</if>
            <if test="name != null and name != ''">#{name},</if>
            <if test="introduction != null">#{introduction},</if>
            <if test="categoryId != null and categoryId != ''">#{categoryId},</if>
            <if test="picSize != null">#{picSize},</if>
            <if test="picWidth != null">#{picWidth},</if>
            <if test="picHeight != null">#{picHeight},</if>
            <if test="picScale != null">#{picScale},</if>
            <if test="picFormat != null">#{picFormat},</if>
            <if test="pointsNeed != null">#{pointsNeed},</if>
            <if test="userId != null and userId != ''">#{userId},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="editTime != null">#{editTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="pictureStatus != null and pictureStatus != ''">#{pictureStatus},</if>
            <if test="reviewStatus != null">#{reviewStatus},</if>
            <if test="reviewMessage != null">#{reviewMessage},</if>
            <if test="reviewUserId != null">#{reviewUserId},</if>
            <if test="reviewTime != null">#{reviewTime},</if>
            <if test="thumbnailUrl != null">#{thumbnailUrl},</if>
            <if test="spaceId != null">#{spaceId},</if>
            <if test="folderId != null">#{folderId},</if>
            <if test="moreInfo != null">#{moreInfo},</if>
            <if test="isDelete != null and isDelete != ''">#{isDelete},</if>
            <if test="deletedTime != null">#{deletedTime},</if>
        </trim>
    </insert>

    <update id="updatePictureInfo" parameterType="PictureInfo">
        update p_picture_info
        <trim prefix="SET" suffixOverrides=",">
            <if test="pictureUrl != null and pictureUrl != ''">picture_url = #{pictureUrl},</if>
            <if test="dnsUrl != null and dnsUrl != ''">dns_url = #{dnsUrl},</if>
            <if test="name != null and name != ''">name = #{name},</if>
            <if test="introduction != null">introduction = #{introduction},</if>
            <if test="categoryId != null and categoryId != ''">category_id = #{categoryId},</if>
            <if test="picSize != null">pic_size = #{picSize},</if>
            <if test="picWidth != null">pic_width = #{picWidth},</if>
            <if test="picHeight != null">pic_height = #{picHeight},</if>
            <if test="picScale != null">pic_scale = #{picScale},</if>
            <if test="picFormat != null">pic_format = #{picFormat},</if>
            <if test="pointsNeed != null">points_need = #{pointsNeed},</if>
            <if test="userId != null and userId != ''">user_id = #{userId},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="editTime != null">edit_time = #{editTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="pictureStatus != null and pictureStatus != ''">picture_status = #{pictureStatus},</if>
            <if test="reviewStatus != null">review_status = #{reviewStatus},</if>
            <if test="reviewMessage != null">review_message = #{reviewMessage},</if>
            <if test="reviewUserId != null">review_user_id = #{reviewUserId},</if>
            <if test="reviewTime != null">review_time = #{reviewTime},</if>
            <if test="thumbnailUrl != null">thumbnail_url = #{thumbnailUrl},</if>
            <if test="spaceId != null">space_id = #{spaceId},</if>
            <if test="folderId != null">folder_id = #{folderId},</if>
            <if test="moreInfo != null">more_info = #{moreInfo},</if>
            <if test="isDelete != null and isDelete != ''">is_delete = #{isDelete},</if>
            <if test="deletedTime != null">deleted_time = #{deletedTime},</if>
        </trim>
        where picture_id = #{pictureId}
    </update>

    <delete id="deletePictureInfoByPictureId" parameterType="String">
        delete
        from p_picture_info
        where picture_id = #{pictureId}
    </delete>

    <delete id="deletePictureInfoByPictureIds" parameterType="String">
        delete from p_picture_info where picture_id in
        <foreach item="pictureId" collection="array" open="(" separator="," close=")">
            #{pictureId}
        </foreach>
    </delete>
</mapper>