<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lz.picture.mapper.PictureDownloadLogInfoMapper">


    <resultMap type="PictureDownloadLogInfo" id="PictureDownloadLogInfoResult">
        <result property="downloadId" column="download_id"/>
        <result property="userId" column="user_id"/>
        <result property="pictureId" column="picture_id"/>
        <result property="categoryId" column="category_id"/>
        <result property="pictureName" column="picture_name"/>
        <result property="thumbnailUrl" column="thumbnail_url"/>
        <result property="tags" column="tags"/>
        <result property="spaceId" column="space_id"/>
        <result property="pointsCost" column="points_cost"/>
        <result property="pointsAuthorGain" column="points_author_gain"/>
        <result property="pointsOfficialGain" column="points_official_gain"/>
        <result property="pointsSpaceGain" column="points_space_gain"/>
        <result property="authorProportion" column="author_proportion"/>
        <result property="officialProportion" column="official_proportion"/>
        <result property="spaceProportion" column="space_proportion"/>
        <result property="createTime" column="create_time"/>
        <result property="downloadStatus" column="download_status"/>
        <result property="failReason" column="fail_reason"/>
        <result property="downloadType" column="download_type"/>
        <result property="referSource" column="refer_source"/>
        <result property="hasStatistics" column="has_statistics"/>
        <result property="score" column="score"/>
        <result property="ipAddr" column="ip_addr"/>
        <result property="ipAddress" column="ip_address"/>
        <result property="deviceId" column="device_id"/>
        <result property="browser" column="browser"/>
        <result property="os" column="os"/>
        <result property="platform" column="platform"/>
    </resultMap>

    <sql id="selectPictureDownloadLogInfoVo">
        select download_id,
               user_id,
               picture_id,
               category_id,
               picture_name,
               thumbnail_url,
               tags,
               space_id,
               points_cost,
               points_author_gain,
               points_official_gain,
               points_space_gain,
               author_proportion,
               official_proportion,
               space_proportion,
               create_time,
               download_status,
               fail_reason,
               download_type,
               refer_source,
               has_statistics,
               score,
               ip_addr,
               ip_address,
               device_id,
               browser,
               os,
               platform
        from p_picture_download_log_info
    </sql>

    <select id="selectPictureDownloadLogInfoList" parameterType="PictureDownloadLogInfo"
            resultMap="PictureDownloadLogInfoResult">
        <include refid="selectPictureDownloadLogInfoVo"/>
        <where>
            <if test="downloadId != null  and downloadId != ''">and download_id = #{downloadId}</if>
            <if test="userId != null  and userId != ''">and user_id = #{userId}</if>
            <if test="pictureId != null  and pictureId != ''">and picture_id = #{pictureId}</if>
            <if test="categoryId != null  and categoryId != ''">and category_id = #{categoryId}</if>
            <if test="pictureName != null  and pictureName != ''">
                and picture_name like concat('%',#{pictureName},'%')
            </if>
            <if test="tags != null  and tags != ''">and tags like concat('%', #{tags}, '%')</if>
            <if test="spaceId != null  and spaceId != ''">and space_id = #{spaceId}</if>
            <if test="params.beginCreateTime != null and params.beginCreateTime != '' and params.endCreateTime != null and params.endCreateTime != ''">
                and DATE_FORMAT(create_time, '%Y-%m-%d') between #{params.beginCreateTime} and #{params.endCreateTime}
            </if>
            <if test="downloadStatus != null  and downloadStatus != ''">and download_status = #{downloadStatus}</if>
            <if test="downloadType != null  and downloadType != ''">and download_type = #{downloadType}</if>
            <if test="referSource != null  and referSource != ''">and refer_source = #{referSource}</if>
            <if test="hasStatistics != null  and hasStatistics != ''">and has_statistics = #{hasStatistics}</if>
            <if test="score != null ">and score = #{score}</if>
            <if test="ipAddr != null  and ipAddr != ''">and ip_addr like concat('%', #{ipAddr}, '%')</if>
            <if test="ipAddress != null  and ipAddress != ''">and ip_address like concat('%', #{ipAddress}, '%')</if>
            <if test="deviceId != null  and deviceId != ''">and device_id = #{deviceId}</if>
            <if test="browser != null  and browser != ''">and browser like concat('%', #{browser}, '%')</if>
            <if test="os != null  and os != ''">and os = #{os}</if>
            <if test="platform != null  and platform != ''">and platform like concat('%', #{platform}, '%')</if>
        </where>
        order by create_time desc
    </select>

    <select id="selectPictureDownloadLogInfoByDownloadId" parameterType="String"
            resultMap="PictureDownloadLogInfoResult">
        <include refid="selectPictureDownloadLogInfoVo"/>
        where download_id = #{downloadId}
    </select>

    <insert id="insertPictureDownloadLogInfo" parameterType="PictureDownloadLogInfo">
        insert into p_picture_download_log_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="downloadId != null">download_id,</if>
            <if test="userId != null and userId != ''">user_id,</if>
            <if test="pictureId != null and pictureId != ''">picture_id,</if>
            <if test="categoryId != null and categoryId != ''">category_id,</if>
            <if test="pictureName != null and pictureName != ''">picture_name,</if>
            <if test="thumbnailUrl != null">thumbnail_url,</if>
            <if test="tags != null">tags,</if>
            <if test="spaceId != null">space_id,</if>
            <if test="pointsCost != null">points_cost,</if>
            <if test="pointsAuthorGain != null">points_author_gain,</if>
            <if test="pointsOfficialGain != null">points_official_gain,</if>
            <if test="pointsSpaceGain != null">points_space_gain,</if>
            <if test="authorProportion != null">author_proportion,</if>
            <if test="officialProportion != null">official_proportion,</if>
            <if test="spaceProportion != null">space_proportion,</if>
            <if test="createTime != null">create_time,</if>
            <if test="downloadStatus != null and downloadStatus != ''">download_status,</if>
            <if test="failReason != null">fail_reason,</if>
            <if test="downloadType != null and downloadType != ''">download_type,</if>
            <if test="referSource != null">refer_source,</if>
            <if test="hasStatistics != null and hasStatistics != ''">has_statistics,</if>
            <if test="score != null">score,</if>
            <if test="ipAddr != null and ipAddr != ''">ip_addr,</if>
            <if test="ipAddress != null">ip_address,</if>
            <if test="deviceId != null">device_id,</if>
            <if test="browser != null">browser,</if>
            <if test="os != null">os,</if>
            <if test="platform != null">platform,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="downloadId != null">#{downloadId},</if>
            <if test="userId != null and userId != ''">#{userId},</if>
            <if test="pictureId != null and pictureId != ''">#{pictureId},</if>
            <if test="categoryId != null and categoryId != ''">#{categoryId},</if>
            <if test="pictureName != null and pictureName != ''">#{pictureName},</if>
            <if test="thumbnailUrl != null">#{thumbnailUrl},</if>
            <if test="tags != null">#{tags},</if>
            <if test="spaceId != null">#{spaceId},</if>
            <if test="pointsCost != null">#{pointsCost},</if>
            <if test="pointsAuthorGain != null">#{pointsAuthorGain},</if>
            <if test="pointsOfficialGain != null">#{pointsOfficialGain},</if>
            <if test="pointsSpaceGain != null">#{pointsSpaceGain},</if>
            <if test="authorProportion != null">#{authorProportion},</if>
            <if test="officialProportion != null">#{officialProportion},</if>
            <if test="spaceProportion != null">#{spaceProportion},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="downloadStatus != null and downloadStatus != ''">#{downloadStatus},</if>
            <if test="failReason != null">#{failReason},</if>
            <if test="downloadType != null and downloadType != ''">#{downloadType},</if>
            <if test="referSource != null">#{referSource},</if>
            <if test="hasStatistics != null and hasStatistics != ''">#{hasStatistics},</if>
            <if test="score != null">#{score},</if>
            <if test="ipAddr != null and ipAddr != ''">#{ipAddr},</if>
            <if test="ipAddress != null">#{ipAddress},</if>
            <if test="deviceId != null">#{deviceId},</if>
            <if test="browser != null">#{browser},</if>
            <if test="os != null">#{os},</if>
            <if test="platform != null">#{platform},</if>
        </trim>
    </insert>
    <update id="updatePictureDownloadLogInfo" parameterType="PictureDownloadLogInfo">
        update p_picture_download_log_info
        <trim prefix="SET" suffixOverrides=",">
            <if test="userId != null and userId != ''">user_id = #{userId},</if>
            <if test="pictureId != null and pictureId != ''">picture_id = #{pictureId},</if>
            <if test="categoryId != null and categoryId != ''">category_id = #{categoryId},</if>
            <if test="pictureName != null and pictureName != ''">picture_name = #{pictureName},</if>
            <if test="thumbnailUrl != null">thumbnail_url = #{thumbnailUrl},</if>
            <if test="tags != null">tags = #{tags},</if>
            <if test="spaceId != null">space_id = #{spaceId},</if>
            <if test="pointsCost != null">points_cost = #{pointsCost},</if>
            <if test="pointsAuthorGain != null">points_author_gain = #{pointsAuthorGain},</if>
            <if test="pointsOfficialGain != null">points_official_gain = #{pointsOfficialGain},</if>
            <if test="pointsSpaceGain != null">points_space_gain = #{pointsSpaceGain},</if>
            <if test="authorProportion != null">author_proportion = #{authorProportion},</if>
            <if test="officialProportion != null">official_proportion = #{officialProportion},</if>
            <if test="spaceProportion != null">space_proportion = #{spaceProportion},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="downloadStatus != null and downloadStatus != ''">download_status = #{downloadStatus},</if>
            <if test="failReason != null">fail_reason = #{failReason},</if>
            <if test="downloadType != null and downloadType != ''">download_type = #{downloadType},</if>
            <if test="referSource != null">refer_source = #{referSource},</if>
            <if test="hasStatistics != null and hasStatistics != ''">has_statistics = #{hasStatistics},</if>
            <if test="score != null">score = #{score},</if>
            <if test="ipAddr != null and ipAddr != ''">ip_addr = #{ipAddr},</if>
            <if test="ipAddress != null">ip_address = #{ipAddress},</if>
            <if test="deviceId != null">device_id = #{deviceId},</if>
            <if test="browser != null">browser = #{browser},</if>
            <if test="os != null">os = #{os},</if>
            <if test="platform != null">platform = #{platform},</if>
        </trim>
        where download_id = #{downloadId}
    </update>

    <delete id="deletePictureDownloadLogInfoByDownloadId" parameterType="String">
        delete
        from p_picture_download_log_info
        where download_id = #{downloadId}
    </delete>

    <delete id="deletePictureDownloadLogInfoByDownloadIds" parameterType="String">
        delete from p_picture_download_log_info where download_id in
        <foreach item="downloadId" collection="array" open="(" separator="," close=")">
            #{downloadId}
        </foreach>
    </delete>
</mapper>
