<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lz.picture.mapper.PictureLikeInfoMapper">
    
    <resultMap type="PictureLikeInfo" id="PictureLikeInfoResult">
        <result property="likeId"    column="like_id"    />
        <result property="userId"    column="user_id"    />
        <result property="pictureId"    column="picture_id"    />
        <result property="categoryId"    column="category_id"    />
        <result property="tags"    column="tags"    />
        <result property="targetCover"    column="target_cover"    />
        <result property="createTime"    column="create_time"    />
    </resultMap>

    <sql id="selectPictureLikeInfoVo">
        select like_id, user_id, picture_id, category_id, tags, target_cover, create_time from p_picture_like_info
    </sql>

    <select id="selectPictureLikeInfoList" parameterType="PictureLikeInfo" resultMap="PictureLikeInfoResult">
        <include refid="selectPictureLikeInfoVo"/>
        <where>  
            <if test="likeId != null  and likeId != ''"> and like_id = #{likeId}</if>
            <if test="userId != null  and userId != ''"> and user_id = #{userId}</if>
            <if test="pictureId != null  and pictureId != ''"> and picture_id = #{pictureId}</if>
            <if test="categoryId != null  and categoryId != ''"> and category_id = #{categoryId}</if>
            <if test="tags != null  and tags != ''"> and tags like concat('%', #{tags}, '%')</if>
            <if test="params.beginCreateTime != null and params.beginCreateTime != '' and params.endCreateTime != null and params.endCreateTime != ''"> and DATE_FORMAT(create_time, '%Y-%m-%d') between #{params.beginCreateTime} and #{params.endCreateTime}</if>
        </where>
    </select>
    
    <select id="selectPictureLikeInfoByLikeId" parameterType="String" resultMap="PictureLikeInfoResult">
        <include refid="selectPictureLikeInfoVo"/>
        where like_id = #{likeId}
    </select>

    <insert id="insertPictureLikeInfo" parameterType="PictureLikeInfo">
        insert into p_picture_like_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="likeId != null">like_id,</if>
            <if test="userId != null and userId != ''">user_id,</if>
            <if test="pictureId != null and pictureId != ''">picture_id,</if>
            <if test="categoryId != null and categoryId != ''">category_id,</if>
            <if test="tags != null">tags,</if>
            <if test="targetCover != null">target_cover,</if>
            <if test="createTime != null">create_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="likeId != null">#{likeId},</if>
            <if test="userId != null and userId != ''">#{userId},</if>
            <if test="pictureId != null and pictureId != ''">#{pictureId},</if>
            <if test="categoryId != null and categoryId != ''">#{categoryId},</if>
            <if test="tags != null">#{tags},</if>
            <if test="targetCover != null">#{targetCover},</if>
            <if test="createTime != null">#{createTime},</if>
         </trim>
    </insert>

    <update id="updatePictureLikeInfo" parameterType="PictureLikeInfo">
        update p_picture_like_info
        <trim prefix="SET" suffixOverrides=",">
            <if test="userId != null and userId != ''">user_id = #{userId},</if>
            <if test="pictureId != null and pictureId != ''">picture_id = #{pictureId},</if>
            <if test="categoryId != null and categoryId != ''">category_id = #{categoryId},</if>
            <if test="tags != null">tags = #{tags},</if>
            <if test="targetCover != null">target_cover = #{targetCover},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
        </trim>
        where like_id = #{likeId}
    </update>

    <delete id="deletePictureLikeInfoByLikeId" parameterType="String">
        delete from p_picture_like_info where like_id = #{likeId}
    </delete>

    <delete id="deletePictureLikeInfoByLikeIds" parameterType="String">
        delete from p_picture_like_info where like_id in 
        <foreach item="likeId" collection="array" open="(" separator="," close=")">
            #{likeId}
        </foreach>
    </delete>
</mapper>