<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lz.picture.mapper.PictureInfoMapper">

    <resultMap type="PictureInfo" id="PictureInfoResult">
        <result property="pictureId" column="picture_id"/>
        <result property="pictureUrl" column="picture_url"/>
        <result property="name" column="name"/>
        <result property="introduction" column="introduction"/>
        <result property="categoryId" column="category_id"/>
        <result property="picSize" column="pic_size"/>
        <result property="picWidth" column="pic_width"/>
        <result property="picHeight" column="pic_height"/>
        <result property="picScale" column="pic_scale"/>
        <result property="picFormat" column="pic_format"/>
        <result property="userId" column="user_id"/>
        <result property="createTime" column="create_time"/>
        <result property="publishTime" column="publish_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="pictureStatus" column="picture_status"/>
        <result property="thumbnailUrl" column="thumbnail_url"/>
        <result property="lookCount" column="look_count"/>
        <result property="collectCount" column="collect_count"/>
        <result property="likeCount" column="like_count"/>
        <result property="shareCount" column="share_count"/>
        <result property="downloadCount" column="download_count"/>
        <result property="spaceId" column="space_id"/>
        <result property="folderId" column="folder_id"/>
        <result property="uploadType" column="upload_type"/>
        <result property="moreInfo" column="more_info"/>
        <result property="isDelete" column="is_delete"/>
        <result property="deletedTime" column="deleted_time"/>
    </resultMap>

    <resultMap type="PictureInfo" id="PictureInfoResultVo">
        <result property="pictureId" column="picture_id" jdbcType="VARCHAR"/>
        <result property="name" column="name" jdbcType="CHAR"/>
        <result property="picWidth" column="pic_width" jdbcType="INTEGER"/>
        <result property="picHeight" column="pic_height" jdbcType="INTEGER"/>
        <result property="picScale" column="pic_scale" jdbcType="DOUBLE"/>
        <result property="thumbnailUrl" column="thumbnail_url" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="selectPictureInfoVo">
        select picture_id,
               picture_url,
               name,
               introduction,
               category_id,
               pic_size,
               pic_width,
               pic_height,
               pic_scale,
               pic_format,
               user_id,
               create_time,
               publish_time,
               update_time,
               picture_status,
               thumbnail_url,
               look_count,
               collect_count,
               like_count,
               share_count,
               download_count,
               space_id,
               folder_id,
               upload_type,
               more_info,
               is_delete,
               deleted_time
        from p_picture_info
    </sql>

    <select id="selectPictureInfoList" parameterType="PictureInfo" resultMap="PictureInfoResult">
        <include refid="selectPictureInfoVo"/>
        <where>
            <if test="pictureId != null  and pictureId != ''">and picture_id = #{pictureId}</if>
            <if test="name != null  and name != ''">and name like concat('%', #{name}, '%')</if>
            <if test="categoryId != null and categoryId != '' and categoryIds == null  ">
                and category_id = #{categoryId}
            </if>
            <if test="categoryId == null and categoryIds != null and categoryIds.length > 0">
                and category_id in
                <foreach item="item" index="index" collection="categoryIds" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
            <if test="picWidth != null ">and pic_width = #{picWidth}</if>
            <if test="picHeight != null ">and pic_height = #{picHeight}</if>
            <if test="picScale != null ">and pic_scale = #{picScale}</if>
            <if test="picFormat != null  and picFormat != ''">and pic_format = #{picFormat}</if>
            <if test="userId != null  and userId != ''">and user_id = #{userId}</if>
            <if test="createTime != null ">and create_time = #{createTime}</if>
            <if test="pictureStatus != null  and pictureStatus != ''">and picture_status = #{pictureStatus}</if>
            <if test="spaceId != null  and spaceId != ''">and space_id = #{spaceId}</if>
            <if test="folderId != null  and folderId != ''">and folder_id = #{folderId}</if>
            <if test="uploadType != null  and uploadType != ''">and upload_type = #{uploadType}</if>
            <if test="isDelete != null  and isDelete != ''">and is_delete = #{isDelete}</if>
            <if test="params.beginDeletedTime != null and params.beginDeletedTime != '' and params.endDeletedTime != null and params.endDeletedTime != ''">
                and DATE_FORMAT(deleted_time, '%Y-%m-%d') between #{params.beginDeletedTime} and
                #{params.endDeletedTime}
            </if>
        </where>
        <choose>
            <when test="params.sortSql != null and params.sortSql != ''">
                ${params.sortSql}
            </when>
            <otherwise>
                order by create_time desc
            </otherwise>
        </choose>
    </select>

    <select id="selectPictureInfoByPictureId" parameterType="String" resultMap="PictureInfoResult">
        <include refid="selectPictureInfoVo"/>
        where picture_id = #{pictureId}
    </select>

    <insert id="insertPictureInfo" parameterType="PictureInfo">
        insert into p_picture_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="pictureId != null">picture_id,</if>
            <if test="pictureUrl != null and pictureUrl != ''">picture_url,</if>
            <if test="name != null and name != ''">name,</if>
            <if test="introduction != null">introduction,</if>
            <if test="categoryId != null and categoryId != ''">category_id,</if>
            <if test="picSize != null">pic_size,</if>
            <if test="picWidth != null">pic_width,</if>
            <if test="picHeight != null">pic_height,</if>
            <if test="picScale != null">pic_scale,</if>
            <if test="picFormat != null">pic_format,</if>
            <if test="userId != null and userId != ''">user_id,</if>
            <if test="createTime != null">create_time,</if>
            <if test="publishTime != null">publish_time,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="pictureStatus != null and pictureStatus != ''">picture_status,</if>
            <if test="thumbnailUrl != null">thumbnail_url,</if>
            <if test="lookCount != null">look_count,</if>
            <if test="collectCount != null">collect_count,</if>
            <if test="likeCount != null">like_count,</if>
            <if test="shareCount != null">share_count,</if>
            <if test="downloadCount != null">download_count,</if>
            <if test="spaceId != null">space_id,</if>
            <if test="folderId != null">folder_id,</if>
            <if test="uploadType != null and uploadType != ''">upload_type,</if>
            <if test="moreInfo != null">more_info,</if>
            <if test="isDelete != null and isDelete != ''">is_delete,</if>
            <if test="deletedTime != null">deleted_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="pictureId != null">#{pictureId},</if>
            <if test="pictureUrl != null and pictureUrl != ''">#{pictureUrl},</if>
            <if test="name != null and name != ''">#{name},</if>
            <if test="introduction != null">#{introduction},</if>
            <if test="categoryId != null and categoryId != ''">#{categoryId},</if>
            <if test="picSize != null">#{picSize},</if>
            <if test="picWidth != null">#{picWidth},</if>
            <if test="picHeight != null">#{picHeight},</if>
            <if test="picScale != null">#{picScale},</if>
            <if test="picFormat != null">#{picFormat},</if>
            <if test="userId != null and userId != ''">#{userId},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="publishTime != null">#{publishTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="pictureStatus != null and pictureStatus != ''">#{pictureStatus},</if>
            <if test="thumbnailUrl != null">#{thumbnailUrl},</if>
            <if test="lookCount != null">#{lookCount},</if>
            <if test="collectCount != null">#{collectCount},</if>
            <if test="likeCount != null">#{likeCount},</if>
            <if test="shareCount != null">#{shareCount},</if>
            <if test="downloadCount != null">#{downloadCount},</if>
            <if test="spaceId != null">#{spaceId},</if>
            <if test="folderId != null">#{folderId},</if>
            <if test="uploadType != null and uploadType != ''">#{uploadType},</if>
            <if test="moreInfo != null">#{moreInfo},</if>
            <if test="isDelete != null and isDelete != ''">#{isDelete},</if>
            <if test="deletedTime != null">#{deletedTime},</if>
        </trim>
    </insert>

    <update id="updatePictureInfo" parameterType="PictureInfo">
        update p_picture_info
        <trim prefix="SET" suffixOverrides=",">
            <if test="pictureUrl != null and pictureUrl != ''">picture_url = #{pictureUrl},</if>
            <if test="name != null and name != ''">name = #{name},</if>
            <if test="introduction != null">introduction = #{introduction},</if>
            <if test="categoryId != null and categoryId != ''">category_id = #{categoryId},</if>
            <if test="picSize != null">pic_size = #{picSize},</if>
            <if test="picWidth != null">pic_width = #{picWidth},</if>
            <if test="picHeight != null">pic_height = #{picHeight},</if>
            <if test="picScale != null">pic_scale = #{picScale},</if>
            <if test="picFormat != null">pic_format = #{picFormat},</if>
            <if test="userId != null and userId != ''">user_id = #{userId},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="publishTime != null">publish_time = #{publishTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="pictureStatus != null and pictureStatus != ''">picture_status = #{pictureStatus},</if>
            <if test="thumbnailUrl != null">thumbnail_url = #{thumbnailUrl},</if>
            <if test="lookCount != null">look_count = #{lookCount},</if>
            <if test="collectCount != null">collect_count = #{collectCount},</if>
            <if test="likeCount != null">like_count = #{likeCount},</if>
            <if test="shareCount != null">share_count = #{shareCount},</if>
            <if test="downloadCount != null">download_count = #{downloadCount},</if>
            <if test="spaceId != null">space_id = #{spaceId},</if>
            <if test="folderId != null">folder_id = #{folderId},</if>
            <if test="uploadType != null and uploadType != ''">upload_type = #{uploadType},</if>
            <if test="moreInfo != null">more_info = #{moreInfo},</if>
            <if test="isDelete != null and isDelete != ''">is_delete = #{isDelete},</if>
            <if test="deletedTime != null">deleted_time = #{deletedTime},</if>
        </trim>
        where picture_id = #{pictureId}
    </update>

    <delete id="deletePictureInfoByPictureId" parameterType="String">
        delete
        from p_picture_info
        where picture_id = #{pictureId}
    </delete>

    <delete id="deletePictureInfoByPictureIds" parameterType="String">
        delete from p_picture_info where picture_id in
        <foreach item="pictureId" collection="array" open="(" separator="," close=")">
            #{pictureId}
        </foreach>
    </delete>

    <select id="getPictureInfoDetailRecommend"
            parameterType="com.lz.picture.model.dto.pictureInfo.PictureInfoDetailRecommendRequest"
            resultMap="PictureInfoResultVo">
        WITH origin_tags AS (SELECT DISTINCT tag_name
                             FROM p_picture_tag_rel_info
                             WHERE picture_id = #{pictureId}),
             matched_images AS (SELECT p.picture_id,
                                       p.name,
                                       p.thumbnail_url,
                                       p.download_count,
                                       p.dns_url,
                                       p.pic_width,
                                       p.pic_height,
                                       p.pic_scale,
                                       p.share_count,
                                       p.collect_count,
                                       p.like_count,
                                       p.look_count,
                                       COUNT(DISTINCT CASE
                                                          WHEN ot.tag_name IS NOT NULL THEN rel.tag_name
                                                          ELSE NULL
                                           END) AS exact_match_count,
                                       COUNT(DISTINCT CASE
                                                          WHEN rel.tag_name LIKE CONCAT('%', ot.tag_name, '%')
                                                              THEN rel.tag_name
                                                          ELSE NULL
                                           END) AS partial_match_count
                                FROM p_picture_info p
                                         JOIN p_picture_tag_rel_info rel ON p.picture_id = rel.picture_id
                                         LEFT JOIN origin_tags ot ON 1 = 1
                                WHERE p.picture_id != #{pictureId}
            AND p.picture_status = #{pictureStatus}
            AND (ot.tag_name IS NULL OR rel.tag_name LIKE CONCAT('%', ot.tag_name, '%'))
        GROUP BY p.picture_id
            )
        SELECT picture_id,
               dns_url,
               name,
               pic_width,
               pic_height,
               pic_scale,
               thumbnail_url,
               (exact_match_count * 2 + partial_match_count) AS match_score
        FROM matched_images
        ORDER BY exact_match_count DESC,
                 partial_match_count DESC,
                 download_count DESC,
                 share_count DESC,
                 collect_count DESC,
                 like_count DESC,
                 look_count DESC
            LIMIT #{pageSize}
        OFFSET #{offset};
    </select>
</mapper>
