<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lz.picture.mapper.UserBehaviorInfoMapper">

    <resultMap type="UserBehaviorInfo" id="UserBehaviorInfoResult">
        <result property="behaviorId" column="behavior_id"/>
        <result property="behaviorType" column="behavior_type"/>
        <result property="userId" column="user_id"/>
        <result property="targetType" column="target_type"/>
        <result property="targetId" column="target_id"/>
        <result property="targetContent" column="target_content"/>
        <result property="score" column="score"/>
        <result property="shareLink" column="share_link"/>
        <result property="categoryId" column="category_id"/>
        <result property="spaceId" column="space_id"/>
        <result property="tags" column="tags"/>
        <result property="targetCover" column="target_cover"/>
        <result property="createTime" column="create_time"/>
        <result property="hasStatistics"    column="has_statistics"    />
        <result property="deviceId" column="device_id"/>
        <result property="browser" column="browser"/>
        <result property="os" column="os"/>
        <result property="platform" column="platform"/>
        <result property="ipAddr" column="ip_addr"/>
        <result property="ipAddress" column="ip_address"/>
    </resultMap>

    <sql id="selectUserBehaviorInfoVo">
        select behavior_id,
               behavior_type,
               user_id,
               target_type,
               target_id,
               target_content,
               score,
               share_link,
               category_id,
               space_id,
               tags,
               target_cover,
               create_time,
               has_statistics,
               device_id,
               browser,
               os,
               platform,
               ip_addr,
               ip_address
        from p_user_behavior_info
    </sql>

    <select id="selectUserBehaviorInfoList" parameterType="UserBehaviorInfo" resultMap="UserBehaviorInfoResult">
        <include refid="selectUserBehaviorInfoVo"/>
        <where>
            <if test="behaviorId != null  and behaviorId != ''">and behavior_id = #{behaviorId}</if>
            <if test="behaviorType != null  and behaviorType != ''">and behavior_type = #{behaviorType}</if>
            <if test="userId != null  and userId != ''">and user_id = #{userId}</if>
            <if test="targetType != null  and targetType != ''">and target_type = #{targetType}</if>
            <if test="targetId != null  and targetId != ''">and target_id = #{targetId}</if>
            <if test="targetContent != null  and targetContent != ''">and target_content = #{targetContent}</if>
            <if test="score != null ">and score = #{score}</if>
            <if test="categoryId != null  and categoryId != ''">and category_id = #{categoryId}</if>
            <if test="spaceId != null  and spaceId != ''">and space_id = #{spaceId}</if>
            <if test="tags != null  and tags != ''">and tags like concat('%', #{tags}, '%')</if>
            <if test="params.beginCreateTime != null and params.beginCreateTime != '' and params.endCreateTime != null and params.endCreateTime != ''">
                and DATE_FORMAT(create_time, '%Y-%m-%d') between #{params.beginCreateTime} and #{params.endCreateTime}
            </if>
            <if test="hasStatistics != null  and hasStatistics != ''">and has_statistics = #{hasStatistics}</if>
            <if test="deviceId != null  and deviceId != ''">and device_id = #{deviceId}</if>
            <if test="browser != null  and browser != ''">and browser = #{browser}</if>
            <if test="os != null  and os != ''">and os = #{os}</if>
            <if test="platform != null  and platform != ''">and platform = #{platform}</if>
            <if test="ipAddr != null  and ipAddr != ''">and ip_addr like concat('%', #{ipAddr}, '%')</if>
            <if test="ipAddress != null  and ipAddress != ''">and ip_address like concat('%',#{ipAddress},'%')</if>
        </where>
        order by create_time desc
    </select>

    <select id="selectUserBehaviorInfoByBehaviorId" parameterType="String" resultMap="UserBehaviorInfoResult">
        <include refid="selectUserBehaviorInfoVo"/>
        where behavior_id = #{behaviorId}
    </select>
    <select id="staticBehaviorInfo"
            resultType="com.lz.picture.model.vo.userBehaviorInfo.UserBehaviorInfoStaticVo">
        select behavior_type as behaviorType, count(target_type) as targetTypeCount, target_type as targetType
        from p_user_behavior_info
        <where>
            <if test="behaviorType != null  and behaviorType != ''">and behavior_type = #{behaviorType}</if>
            <if test="userId != null  and userId != ''">and user_id = #{userId}</if>
            <if test="targetType != null  and targetType != ''">and target_type = #{targetType}</if>
            <if test="targetId != null  and targetId != ''">and target_id = #{targetId}</if>
            <if test="categoryId != null  and categoryId != ''">and category_id = #{categoryId}</if>
            <if test="spaceId != null  and spaceId != ''">and space_id = #{spaceId}</if>
            <if test="params.beginCreateTime != null and params.beginCreateTime != '' and params.endCreateTime != null and params.endCreateTime != ''">
                and DATE_FORMAT(create_time, '%Y-%m-%d') between #{params.beginCreateTime} and #{params.endCreateTime}
            </if>
            <if test="hasStatistics != null  and hasStatistics != ''">and has_statistics = #{hasStatistics}</if>
            <if test="deviceId != null  and deviceId != ''">and device_id = #{deviceId}</if>
            <if test="browser != null  and browser != ''">and browser = #{browser}</if>
            <if test="os != null  and os != ''">and os = #{os}</if>
            <if test="platform != null  and platform != ''">and platform = #{platform}</if>
            <if test="ipAddr != null  and ipAddr != ''"> and ip_addr like concat('%', #{ipAddr}, '%')</if>
            <if test="ipAddress != null  and ipAddress != ''">and ip_address = #{ipAddress}</if>
        </where>
        group by behavior_type
    </select>

    <insert id="insertUserBehaviorInfo" parameterType="UserBehaviorInfo">
        insert into p_user_behavior_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="behaviorId != null">behavior_id,</if>
            <if test="behaviorType != null and behaviorType != ''">behavior_type,</if>
            <if test="userId != null and userId != ''">user_id,</if>
            <if test="targetType != null and targetType != ''">target_type,</if>
            <if test="targetId != null and targetId != ''">target_id,</if>
            <if test="targetContent != null">target_content,</if>
            <if test="score != null">score,</if>
            <if test="shareLink != null">share_link,</if>
            <if test="categoryId != null">category_id,</if>
            <if test="spaceId != null">space_id,</if>
            <if test="tags != null">tags,</if>
            <if test="targetCover != null">target_cover,</if>
            <if test="createTime != null">create_time,</if>
            <if test="hasStatistics != null">has_statistics,</if>
            <if test="deviceId != null">device_id,</if>
            <if test="browser != null">browser,</if>
            <if test="os != null">os,</if>
            <if test="platform != null">platform,</if>
            <if test="ipAddr != null">ip_addr,</if>
            <if test="ipAddress != null">ip_address,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="behaviorId != null">#{behaviorId},</if>
            <if test="behaviorType != null and behaviorType != ''">#{behaviorType},</if>
            <if test="userId != null and userId != ''">#{userId},</if>
            <if test="targetType != null and targetType != ''">#{targetType},</if>
            <if test="targetId != null and targetId != ''">#{targetId},</if>
            <if test="targetContent != null">#{targetContent},</if>
            <if test="score != null">#{score},</if>
            <if test="shareLink != null">#{shareLink},</if>
            <if test="categoryId != null">#{categoryId},</if>
            <if test="spaceId != null">#{spaceId},</if>
            <if test="tags != null">#{tags},</if>
            <if test="targetCover != null">#{targetCover},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="hasStatistics != null">#{hasStatistics},</if>
            <if test="deviceId != null">#{deviceId},</if>
            <if test="browser != null">#{browser},</if>
            <if test="os != null">#{os},</if>
            <if test="platform != null">#{platform},</if>
            <if test="ipAddr != null">#{ipAddr},</if>
            <if test="ipAddress != null">#{ipAddress},</if>
        </trim>
    </insert>

    <update id="updateUserBehaviorInfo" parameterType="UserBehaviorInfo">
        update p_user_behavior_info
        <trim prefix="SET" suffixOverrides=",">
            <if test="behaviorType != null and behaviorType != ''">behavior_type = #{behaviorType},</if>
            <if test="userId != null and userId != ''">user_id = #{userId},</if>
            <if test="targetType != null and targetType != ''">target_type = #{targetType},</if>
            <if test="targetId != null and targetId != ''">target_id = #{targetId},</if>
            <if test="targetContent != null">target_content = #{targetContent},</if>
            <if test="score != null">score = #{score},</if>
            <if test="shareLink != null">share_link = #{shareLink},</if>
            <if test="categoryId != null">category_id = #{categoryId},</if>
            <if test="spaceId != null">space_id = #{spaceId},</if>
            <if test="tags != null">tags = #{tags},</if>
            <if test="targetCover != null">target_cover = #{targetCover},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="hasStatistics != null">has_statistics = #{hasStatistics},</if>
            <if test="deviceId != null">device_id = #{deviceId},</if>
            <if test="browser != null">browser = #{browser},</if>
            <if test="os != null">os = #{os},</if>
            <if test="platform != null">platform = #{platform},</if>
            <if test="ipAddr != null">ip_addr = #{ipAddr},</if>
            <if test="ipAddress != null">ip_address = #{ipAddress},</if>
        </trim>
        where behavior_id = #{behaviorId}
    </update>

    <delete id="deleteUserBehaviorInfoByBehaviorId" parameterType="String">
        delete
        from p_user_behavior_info
        where behavior_id = #{behaviorId}
    </delete>

    <delete id="deleteUserBehaviorInfoByBehaviorIds" parameterType="String">
        delete from p_user_behavior_info where behavior_id in
        <foreach item="behaviorId" collection="array" open="(" separator="," close=")">
            #{behaviorId}
        </foreach>
    </delete>
</mapper>
