<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lz.points.mapper.PaymentOrderInfoMapper">

    <resultMap type="PaymentOrderInfo" id="PaymentOrderInfoResult">
        <result property="orderId" column="order_id"/>
        <result property="userId" column="user_id"/>
        <result property="orderType" column="order_type"/>
        <result property="orderStatus" column="order_status"/>
        <result property="paymentType" column="payment_type"/>
        <result property="totalAmount" column="total_amount"/>
        <result property="buyerPayAmount" column="buyer_pay_amount"/>
        <result property="receiptAmount" column="receipt_amount"/>
        <result property="discountAmount" column="discount_amount"/>
        <result property="thirdParty" column="third_party"/>
        <result property="thirdUserId" column="third_user_id"/>
        <result property="thirdPartyOrder" column="third_party_order"/>
        <result property="paymentTime" column="payment_time"/>
        <result property="paymentStatus" column="payment_status"/>
        <result property="paymentCode" column="payment_code"/>
        <result property="paymentMsg" column="payment_msg"/>
        <result property="paymentExtend" column="payment_extend"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="deviceId" column="device_id"/>
        <result property="browser" column="browser"/>
        <result property="os" column="os"/>
        <result property="platform" column="platform"/>
        <result property="ipAddr" column="ip_addr"/>
        <result property="ipAddress" column="ip_address"/>
        <result property="isDelete" column="is_delete"/>
        <result property="remark" column="remark"/>
    </resultMap>

    <sql id="selectPaymentOrderInfoVo">
        select order_id,
               user_id,
               order_type,
               order_status,
               payment_type,
               total_amount,
               buyer_pay_amount,
               receipt_amount,
               discount_amount,
               third_party,
               third_user_id,
               third_party_order,
               payment_time,
               payment_status,
               payment_code,
               payment_msg,
               payment_extend,
               create_time,
               update_time,
               device_id,
               browser,
               os,
               platform,
               ip_addr,
               ip_address,
               is_delete,
               remark
        from po_payment_order_info
    </sql>

    <select id="selectPaymentOrderInfoList" parameterType="PaymentOrderInfo" resultMap="PaymentOrderInfoResult">
        <include refid="selectPaymentOrderInfoVo"/>
        <where>
            <if test="orderId != null  and orderId != ''">and order_id = #{orderId}</if>
            <if test="userId != null  and userId != ''">and user_id = #{userId}</if>
            <if test="orderType != null  and orderType != ''">and order_type = #{orderType}</if>
            <if test="orderStatus != null  and orderStatus != ''">and order_status = #{orderStatus}</if>
            <if test="paymentType != null  and paymentType != ''">and payment_type = #{paymentType}</if>
            <if test="thirdParty != null  and thirdParty != ''">and third_party = #{thirdParty}</if>
            <if test="thirdUserId != null  and thirdUserId != ''">and third_user_id = #{thirdUserId}</if>
            <if test="thirdPartyOrder != null  and thirdPartyOrder != ''">and third_party_order = #{thirdPartyOrder}
            </if>
            <if test="params.beginPaymentTime != null and params.beginPaymentTime != '' and params.endPaymentTime != null and params.endPaymentTime != ''">
                and DATE_FORMAT(payment_time, '%Y-%m-%d') between #{params.beginPaymentTime} and
                #{params.endPaymentTime}
            </if>
            <if test="paymentStatus != null  and paymentStatus != ''">and payment_status = #{paymentStatus}</if>
            <if test="paymentCode != null  and paymentCode != ''">and payment_code = #{paymentCode}</if>
            <if test="paymentMsg != null  and paymentMsg != ''">and payment_msg = #{paymentMsg}</if>
            <if test="params.beginCreateTime != null and params.beginCreateTime != '' and params.endCreateTime != null and params.endCreateTime != ''">
                and DATE_FORMAT(create_time, '%Y-%m-%d') between #{params.beginCreateTime} and #{params.endCreateTime}
            </if>
            <if test="params.beginUpdateTime != null and params.beginUpdateTime != '' and params.endUpdateTime != null and params.endUpdateTime != ''">
                and DATE_FORMAT(update_time, '%Y-%m-%d') between #{params.beginUpdateTime} and #{params.endUpdateTime}
            </if>
            <if test="deviceId != null  and deviceId != ''">and device_id = #{deviceId}</if>
            <if test="browser != null  and browser != ''">and browser = #{browser}</if>
            <if test="os != null  and os != ''">and os like concat('%', #{os}, '%')</if>
            <if test="platform != null  and platform != ''">and platform = #{platform}</if>
            <if test="ipAddr != null  and ipAddr != ''">and ip_addr like concat('%', #{ipAddr}, '%')</if>
            <if test="ipAddress != null  and ipAddress != ''">and ip_address like concat('%', #{ipAddress}, '%')</if>
            <if test="isDelete != null  and isDelete != ''">and is_delete = #{isDelete}</if>
        </where>
        order by create_time desc
    </select>

    <select id="selectPaymentOrderInfoByOrderId" parameterType="String" resultMap="PaymentOrderInfoResult">
        <include refid="selectPaymentOrderInfoVo"/>
        where order_id = #{orderId}
    </select>

    <insert id="insertPaymentOrderInfo" parameterType="PaymentOrderInfo">
        insert into po_payment_order_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="orderId != null">order_id,</if>
            <if test="userId != null and userId != ''">user_id,</if>
            <if test="orderType != null and orderType != ''">order_type,</if>
            <if test="orderStatus != null and orderStatus != ''">order_status,</if>
            <if test="paymentType != null and paymentType != ''">payment_type,</if>
            <if test="totalAmount != null">total_amount,</if>
            <if test="buyerPayAmount != null">buyer_pay_amount,</if>
            <if test="receiptAmount != null">receipt_amount,</if>
            <if test="discountAmount != null">discount_amount,</if>
            <if test="thirdParty != null and thirdParty != ''">third_party,</if>
            <if test="thirdUserId != null">third_user_id,</if>
            <if test="thirdPartyOrder != null">third_party_order,</if>
            <if test="paymentTime != null">payment_time,</if>
            <if test="paymentStatus != null and paymentStatus != ''">payment_status,</if>
            <if test="paymentCode != null">payment_code,</if>
            <if test="paymentMsg != null">payment_msg,</if>
            <if test="paymentExtend != null">payment_extend,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="deviceId != null">device_id,</if>
            <if test="browser != null">browser,</if>
            <if test="os != null">os,</if>
            <if test="platform != null">platform,</if>
            <if test="ipAddr != null and ipAddr != ''">ip_addr,</if>
            <if test="ipAddress != null">ip_address,</if>
            <if test="isDelete != null and isDelete != ''">is_delete,</if>
            <if test="remark != null">remark,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="orderId != null">#{orderId},</if>
            <if test="userId != null and userId != ''">#{userId},</if>
            <if test="orderType != null and orderType != ''">#{orderType},</if>
            <if test="orderStatus != null and orderStatus != ''">#{orderStatus},</if>
            <if test="paymentType != null and paymentType != ''">#{paymentType},</if>
            <if test="totalAmount != null">#{totalAmount},</if>
            <if test="buyerPayAmount != null">#{buyerPayAmount},</if>
            <if test="receiptAmount != null">#{receiptAmount},</if>
            <if test="discountAmount != null">#{discountAmount},</if>
            <if test="thirdParty != null and thirdParty != ''">#{thirdParty},</if>
            <if test="thirdUserId != null">#{thirdUserId},</if>
            <if test="thirdPartyOrder != null">#{thirdPartyOrder},</if>
            <if test="paymentTime != null">#{paymentTime},</if>
            <if test="paymentStatus != null and paymentStatus != ''">#{paymentStatus},</if>
            <if test="paymentCode != null">#{paymentCode},</if>
            <if test="paymentMsg != null">#{paymentMsg},</if>
            <if test="paymentExtend != null">#{paymentExtend},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="deviceId != null">#{deviceId},</if>
            <if test="browser != null">#{browser},</if>
            <if test="os != null">#{os},</if>
            <if test="platform != null">#{platform},</if>
            <if test="ipAddr != null and ipAddr != ''">#{ipAddr},</if>
            <if test="ipAddress != null">#{ipAddress},</if>
            <if test="isDelete != null and isDelete != ''">#{isDelete},</if>
            <if test="remark != null">#{remark},</if>
        </trim>
    </insert>

    <update id="updatePaymentOrderInfo" parameterType="PaymentOrderInfo">
        update po_payment_order_info
        <trim prefix="SET" suffixOverrides=",">
            <if test="userId != null and userId != ''">user_id = #{userId},</if>
            <if test="orderType != null and orderType != ''">order_type = #{orderType},</if>
            <if test="orderStatus != null and orderStatus != ''">order_status = #{orderStatus},</if>
            <if test="paymentType != null and paymentType != ''">payment_type = #{paymentType},</if>
            <if test="totalAmount != null">total_amount = #{totalAmount},</if>
            <if test="buyerPayAmount != null">buyer_pay_amount = #{buyerPayAmount},</if>
            <if test="receiptAmount != null">receipt_amount = #{receiptAmount},</if>
            <if test="discountAmount != null">discount_amount = #{discountAmount},</if>
            <if test="thirdParty != null and thirdParty != ''">third_party = #{thirdParty},</if>
            <if test="thirdUserId != null">third_user_id = #{thirdUserId},</if>
            <if test="thirdPartyOrder != null">third_party_order = #{thirdPartyOrder},</if>
            <if test="paymentTime != null">payment_time = #{paymentTime},</if>
            <if test="paymentStatus != null and paymentStatus != ''">payment_status = #{paymentStatus},</if>
            <if test="paymentCode != null">payment_code = #{paymentCode},</if>
            <if test="paymentMsg != null">payment_msg = #{paymentMsg},</if>
            <if test="paymentExtend != null">payment_extend = #{paymentExtend},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="deviceId != null">device_id = #{deviceId},</if>
            <if test="browser != null">browser = #{browser},</if>
            <if test="os != null">os = #{os},</if>
            <if test="platform != null">platform = #{platform},</if>
            <if test="ipAddr != null and ipAddr != ''">ip_addr = #{ipAddr},</if>
            <if test="ipAddress != null">ip_address = #{ipAddress},</if>
            <if test="isDelete != null and isDelete != ''">is_delete = #{isDelete},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where order_id = #{orderId}
    </update>

    <delete id="deletePaymentOrderInfoByOrderId" parameterType="String">
        delete
        from po_payment_order_info
        where order_id = #{orderId}
    </delete>

    <delete id="deletePaymentOrderInfoByOrderIds" parameterType="String">
        delete from po_payment_order_info where order_id in
        <foreach item="orderId" collection="array" open="(" separator="," close=")">
            #{orderId}
        </foreach>
    </delete>
</mapper>
