<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lz.points.mapper.PointsUsageLogMapper">
    
    <resultMap type="PointsUsageLog" id="PointsUsageLogResult">
        <result property="logId"    column="log_id"    />
        <result property="userId"    column="user_id"    />
        <result property="usageType"    column="usage_type"    />
        <result property="targetId"    column="target_id"    />
        <result property="pointsBefore"    column="points_before"    />
        <result property="pointsUsed"    column="points_used"    />
        <result property="pointsAfter"    column="points_after"    />
        <result property="deviceId"    column="device_id"    />
        <result property="browser"    column="browser"    />
        <result property="os"    column="os"    />
        <result property="platform"    column="platform"    />
        <result property="ipAddr"    column="ip_addr"    />
        <result property="remark"    column="remark"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
        <result property="isDelete"    column="is_delete"    />
    </resultMap>

    <sql id="selectPointsUsageLogVo">
        select log_id, user_id, usage_type, target_id, points_before, points_used, points_after, device_id, browser, os, platform, ip_addr, remark, create_time, update_time, is_delete from po_points_usage_log
    </sql>

    <select id="selectPointsUsageLogList" parameterType="PointsUsageLog" resultMap="PointsUsageLogResult">
        <include refid="selectPointsUsageLogVo"/>
        <where>  
            <if test="logId != null  and logId != ''"> and log_id = #{logId}</if>
            <if test="userId != null  and userId != ''"> and user_id = #{userId}</if>
            <if test="usageType != null  and usageType != ''"> and usage_type = #{usageType}</if>
            <if test="targetId != null  and targetId != ''"> and target_id = #{targetId}</if>
            <if test="deviceId != null  and deviceId != ''"> and device_id = #{deviceId}</if>
            <if test="browser != null  and browser != ''"> and browser = #{browser}</if>
            <if test="os != null  and os != ''"> and os = #{os}</if>
            <if test="platform != null  and platform != ''"> and platform = #{platform}</if>
            <if test="ipAddr != null  and ipAddr != ''"> and ip_addr like concat('%', #{ipAddr}, '%')</if>
            <if test="params.beginCreateTime != null and params.beginCreateTime != '' and params.endCreateTime != null and params.endCreateTime != ''"> and DATE_FORMAT(create_time, '%Y-%m-%d') between #{params.beginCreateTime} and #{params.endCreateTime}</if>
            <if test="params.beginUpdateTime != null and params.beginUpdateTime != '' and params.endUpdateTime != null and params.endUpdateTime != ''"> and DATE_FORMAT(update_time, '%Y-%m-%d') between #{params.beginUpdateTime} and #{params.endUpdateTime}</if>
            <if test="isDelete != null  and isDelete != ''"> and is_delete = #{isDelete}</if>
        </where>
    </select>
    
    <select id="selectPointsUsageLogByLogId" parameterType="String" resultMap="PointsUsageLogResult">
        <include refid="selectPointsUsageLogVo"/>
        where log_id = #{logId}
    </select>

    <insert id="insertPointsUsageLog" parameterType="PointsUsageLog">
        insert into po_points_usage_log
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="logId != null">log_id,</if>
            <if test="userId != null and userId != ''">user_id,</if>
            <if test="usageType != null and usageType != ''">usage_type,</if>
            <if test="targetId != null">target_id,</if>
            <if test="pointsBefore != null">points_before,</if>
            <if test="pointsUsed != null">points_used,</if>
            <if test="pointsAfter != null">points_after,</if>
            <if test="deviceId != null">device_id,</if>
            <if test="browser != null">browser,</if>
            <if test="os != null">os,</if>
            <if test="platform != null">platform,</if>
            <if test="ipAddr != null and ipAddr != ''">ip_addr,</if>
            <if test="remark != null">remark,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="isDelete != null and isDelete != ''">is_delete,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="logId != null">#{logId},</if>
            <if test="userId != null and userId != ''">#{userId},</if>
            <if test="usageType != null and usageType != ''">#{usageType},</if>
            <if test="targetId != null">#{targetId},</if>
            <if test="pointsBefore != null">#{pointsBefore},</if>
            <if test="pointsUsed != null">#{pointsUsed},</if>
            <if test="pointsAfter != null">#{pointsAfter},</if>
            <if test="deviceId != null">#{deviceId},</if>
            <if test="browser != null">#{browser},</if>
            <if test="os != null">#{os},</if>
            <if test="platform != null">#{platform},</if>
            <if test="ipAddr != null and ipAddr != ''">#{ipAddr},</if>
            <if test="remark != null">#{remark},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="isDelete != null and isDelete != ''">#{isDelete},</if>
         </trim>
    </insert>

    <update id="updatePointsUsageLog" parameterType="PointsUsageLog">
        update po_points_usage_log
        <trim prefix="SET" suffixOverrides=",">
            <if test="userId != null and userId != ''">user_id = #{userId},</if>
            <if test="usageType != null and usageType != ''">usage_type = #{usageType},</if>
            <if test="targetId != null">target_id = #{targetId},</if>
            <if test="pointsBefore != null">points_before = #{pointsBefore},</if>
            <if test="pointsUsed != null">points_used = #{pointsUsed},</if>
            <if test="pointsAfter != null">points_after = #{pointsAfter},</if>
            <if test="deviceId != null">device_id = #{deviceId},</if>
            <if test="browser != null">browser = #{browser},</if>
            <if test="os != null">os = #{os},</if>
            <if test="platform != null">platform = #{platform},</if>
            <if test="ipAddr != null and ipAddr != ''">ip_addr = #{ipAddr},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="isDelete != null and isDelete != ''">is_delete = #{isDelete},</if>
        </trim>
        where log_id = #{logId}
    </update>

    <delete id="deletePointsUsageLogByLogId" parameterType="String">
        delete from po_points_usage_log where log_id = #{logId}
    </delete>

    <delete id="deletePointsUsageLogByLogIds" parameterType="String">
        delete from po_points_usage_log where log_id in 
        <foreach item="logId" collection="array" open="(" separator="," close=")">
            #{logId}
        </foreach>
    </delete>
</mapper>